
 

<%= form_for(:session, :html => {class: "form-horizontal", id: "usr", role: "form"}, url: login_path) do |f| %>
  
  <div class="form-group">
       <div class="col-sm-3 control-label">
           <%= f.label :email %>
   </div>
    <div class="col-sm-8">
     <%= f.email_field :email, name: "email",class: "form-control", placeholder: "E-mail", rows: 10, autofocus: true %>
    </div>
  </div>
  <div class="form-group">
       <div class="col-sm-3 control-label">
           <%= f.label "Mot de passe" %>
   </div>
    <div class="col-sm-8">
     <%= f.password_field :password,  name:"password", class: "form-control", placeholder: "Password" %>
    </div>
  </div>
  
  <div class="form-group">
    <div>
         <%= f.submit 'Se connecter', class: "btn btn-success" %>
    </div>
    
  </div>
<% end %>
