<%= render 'shared/search' %>
      
<div class="container-fluid articles">
    <div class="container">
      <div class="row" style="border-bottom: 1px solid #CFCFCF">
          <div class="col-md-3 count"><button class="btn btn-default">Tout, <span> <%= @articles.count %> </span></button></div>
      </div>
       <div class="row">
           <% @articles.each do |a| %>
            <a href="<%= article_path(a) %>" class="lnk">
               <div class="row bg">
               <div class="col-md-1">
                   <h4 class="test">
                   <% d =  a.created_at.to_date %>
                   <% if d == Date.today %>
                       Aujourdhui <br> <span><%=a.created_at.strftime("%H:%M")%></span>
                    <% elsif d == Date.yesterday%>
                        Hier <br> <span><%=a.created_at.strftime("%H:%M")%></span>
                    <% else %>
                       <%= l a.created_at.to_date, format: :short %>
                       <br> <span><%=a.created_at.strftime("%H:%M")%></span>
                    <% end %>
                   </h4>
               </div>
               <div class="col-md-2">
                   <%= image_tag(a.pictures[0].picture_url(:thumb), class: "img-responsive") %>
               </div>
               <div class="col-md-7 title">
                  <h3><%= a.title %></h3>
                  <span><%= a.category.name %></span>, <span style="font-weight: bold"><%= a.city.name %></span> 
               </div>
               <div class="col-md-2">
                   <h4 style="margin-top: 35px;"><%= a.price %> DH</h4>
               </div>
                   </div>
                   </a>
           <% end %>
       </div>
    </div>
</div
    

