<div class="page-header">
  <h1 align="center">Listing All Articles</h1>
</div>


<table class="table table-striped">
  <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Price</th>
  </tr>
      <% @articles.each do |a| %>
      <tr>
          <td><%= a.title %></td>
          <td><%=a.description%></td>
          <td><%=a.price%></td>
          <td><%= link_to "Show", article_path(a) %></td>
          <td><%= link_to "Delete", article_path(a), method: :delete, data: {confirm: "Are u Sure?" } %></td>
    </tr>
      <% end %>
      
</table>


<button class="btn btn-default"><%=link_to "Add Article", new_article_path %> </button>