


<div class="container col-sm-9">
   <div class="row">
    <div class="card">
			<div class="container-fliud">
				<div class="wrapper row">
					<div class="preview col-md-6">
						<div class="preview-pic tab-content">
                         <% c= 0 %>
                          <% @pictures.each do |p| %>
						  <div class="tab-pane <%= "active" if c==0 %>" id="pic-<%= c+1 %>"><%= image_tag p.picture_url, size: "400x300" %></div>
						  <% c = c+1 %>
						  <% end %>
						</div>
						<ul class="preview-thumbnail nav nav-tabs">
                         <% c= 0 %>
                          <% @pictures.each do |p| %>
						  <li class=" <%= "active" if c==0 %>"><a data-target="#pic-<%= c+1 %>" data-toggle="tab"><%= image_tag p.picture_url, height: "50", width:"100%" %></a></li>
						  <% c = c+1 %>
						  <% end %>
						</ul>
						
					</div>
					<div class="details col-md-6">
						<h3 class="product-title">men's shoes fashion</h3>
						<div class="rating">
							<div class="stars">
								
							</div>
							<span class="review-no"></span>
						</div>
						<p class="product-description"><%= @article.description %></p>
						
                        <p class="vote"></p>
                        <h5 class="sizes"></h5>
                        
                        <h5 class="colors"></h5>
                        <h4 class="price">Prix <span><%= @article.price %> MAD</span></h4>
						<div class="action">
							<button class="add-to-cart btn btn-default" type="button">add to cart</button>
							<button class="like btn btn-default" type="button"><span class="fa fa-heart"></span></button>
						</div>
					</div>
				</div>
			</div>
		</div>
   </div>
   
   
    
    <div class="row">
       <%= form_for @pictures.first, :url => url_for(:controller => 'pictures', :action => 'destroy') do |f| %>
        <% @pictures.each do |p| %>
        <%= fields_for "picture[]", do |form| %>
              <%= form.check_box :picture %>
              
            <% end %>
        <% end %>
        <%= f.submit %>
        <%end%>
    </div>
    
    <button class="btn btn-default"><%=link_to "Index", articles_path %> </button>
</div>