



<div class="container ">
   <div class="row col-md-9">
    <div class="card">
    <%= l @article.created_at.to_date, format: :short %>
			<div class="container-fliud">
				<div class="wrapper row">
					<div class="preview col-md-6">
						<div class="preview-pic tab-content">
                         <% c= 0 %>
                          <% @pictures.each do |p| %>
						  <div class="tab-pane <%= "active" if c==0 %>" id="pic-<%= c+1 %>"><%= image_tag p.picture_url, size: "400x300" %></div>
						  <% c = c+1 %>
						  <% end %>
						</div>
						<ul class="preview-thumbnail nav nav-tabs">
                         <% c= 0 %>
                          <% @pictures.each do |p| %>
						  <li class=" <%= "active" if c==0 %>"><a data-target="#pic-<%= c+1 %>" data-toggle="tab"><%= image_tag p.picture_url(:thumb), height: "50", width:"100%" %></a></li>
						  <% c = c+1 %>
						  <% end %>
						</ul>
						
					</div>
					<div class="details col-md-6">
						<h3 class="product-title"><%= @article.title %></h3>
						<div class="rating">
							<div class="stars">
								
							</div>
							<span class="review-no"></span>
						</div>
						<p class="product-description"><%= @article.description %></p>
						
                        <p class="vote"></p>
                        <h5 class="sizes"></h5>
                        
                        <h5 class="colors"></h5>
                        <h4 class="price">Prix <span><%= @article.price %> MAD</span></h4>
						<div class="action">
							<button class="add-to-cart btn btn-default" type="button">add to cart</button>
							<button class="like btn btn-default" type="button"><span class="fa fa-heart"></span></button>
						</div>
					</div>
				</div>
			</div>
		</div>
   </div>
   
   
</div>