



<div class="container ">
   <div class="row col-md-9">
    <div class="card">
    <h2><%= @article.title %>
             <span style="float: right"> <% if is_same_user(@article) || is_admin? %>
                  <%= link_to edit_article_path(@article), class: "btn btn-default" do %>
                  <span class="glyphicon glyphicon-pencil"></span>
                   <% end %>
                   <%= link_to article_path(@article), class: "btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' } do %>
                   <span class="glyphicon glyphicon-trash"></span>                   <% end %>
                   <% end %></span>
               </h2>
			<div class="container-fliud">
				<div class="wrapper row">
					<div class="preview col-md-12">
						<div class="preview-pic tab-content">
                         <% c= 0 %>
                          <% @pictures.each do |p| %>
						  <div class="tab-pane <%= "active" if c==0 %>" id="pic-<%= c+1 %>"><%= image_tag p.picture_url(:large)%></div>
						  <% c = c+1 %>
						  <% end %>
						</div>
						<ul class="preview-thumbnail nav nav-tabs">
                         <% c= 0 %>
                          <% @pictures.each do |p| %>
						  <li class=" <%= "active" if c==0 %>"><a data-target="#pic-<%= c+1 %>" data-toggle="tab"><%= image_tag p.picture_url(:slider)%></a></li>
						  <% c = c+1 %>
						  <% end %>
						</ul>
						
                    </div></div>
                    <div class="row">
					<div class=" col-md-12">
						<div><h2 class="price"><span><%= @article.price %> MAD</span></h2></div>
						<div class="col-md-8" style="border-top: 2px solid gray; padding-top: 14px">
						    <%= @article.description %>
						
						<p class="product-description"></p>
						
                        <p class="vote"></p>
                        <h5 class="sizes"></h5>
                        
                        <h5 class="colors"></h5>
                        
						<div class="action">
							<button class="add-to-cart btn btn-default" type="button"><span class="glyphicon glyphicon-earphone"></span> <%= @article.user.tel %></button>
							
						</div>
					</div>
					<div class="col-md-4">
					    <table class="info">
					        <tr>
					            <td class="colonne">Ville:</td>
					            <td><%= @article.city.name %></td>
					        </tr>
					        <tr>
                               <td class="colonne">Categorie:</td>
					        <td><%= @article.category.name %></td>
                            </tr>
					    </table>
					</div>
					</div>
				</div>
			</div>
		</div>
   </div>
   <div class="col-md-3">
      <div class="side">
       <div class="name row">
           <span class="glyphicon glyphicon-user"></span> <%= @article.user.username %>
       </div>
   
   <div class="inf row">
       <span class="glyphicon glyphicon-map-marker"></span> <%= @article.city.name %> <br>
       <span class="glyphicon glyphicon-time"></span> <% d =  @article.created_at.to_date %>
                   <% if d == Date.today %>
                       Aujourdhui <br> <span><%=@article.created_at.strftime("%H:%M")%></span>
                    <% elsif d == Date.yesterday%>
                        Hier <span><%=@article.created_at.strftime("%H:%M")%></span>
                    <% else %>
                       <%= l @article.created_at.to_date, format: :short %> 
                        <span><%=@article.created_at.strftime("%H:%M")%></span>
                    <% end %>
   </div>
   </div>
    </div>
</div>
   