


<%= form_for(@user, :html => {class: "form-horizontal", id: "register-form", role: "form"}) do |f| %>
 
  <div class="form-group">
       <div class="col-md-2 col-sm-2 col-xs-4 control-label">
           <%= f.label "Nom:" %>
   </div>
    <div class="col-md-6 col-sm-6  ">
     <%= f.text_field :username, id:"username", name: "username", class: "form-control", placeholder: "Nom complet", autofocus: true %>
    </div>
  </div>
  <div class="form-group">
       <div class="col-md-2 col-sm-2 col-xs-4 control-label">
           <%= f.label "Telephone" %>
   </div>
    <div class="col-md-6 col-sm-6  ">
     <%= f.phone_field :tel, name:"phone", class: "form-control", placeholder: "06..."%>
    </div>
  </div>
  <div class="form-group">
       <div class="col-md-2 col-sm-2 col-xs-4 control-label">
           <%= f.label :email %>
   </div>
    <div class="col-md-6 col-sm-6   ">
     <%= f.email_field :email, name:"email", class: "form-control", placeholder: "E-mail", rows: 10%>
    </div>
  </div>
  <div class="form-group">
       <div class="col-md-2 col-sm-2 col-xs-4 control-label">
           <%= f.label "Mot de passe" %>
   </div>
    <div class="col-md-6 col-sm-6  ">
     <%= f.password_field :password, id:"password", name:"password", class: "form-control", placeholder: "Password" %>
    </div>
  </div>
  <div class="form-group">
       <div class="col-md-2 col-sm-2 control-label">
           <%= f.label "Confirmation mot de passe" %>
   </div>
    <div class="col-md-6 col-sm-6  ">
     <%= f.password_field :password_confirmation, name:"password2", class: "form-control", placeholder: "Password" %>
    </div>
  </div>
<div class="col-md-10 col-md-offset-2">
    <hr>
</div>  
 <div class="col-md-6 col-md-offset-2 col-sm-6  ">
    <p>
        En cliquant sur "Créer un compte" j'accepte la Politique de confidentialité de Avito.ma
    </p>
</div>

    <div class="col-md-3 creer">
         <%= f.submit 'Creer un Compte!', class: "btn btn-success pad" %>
    </div>
<% end %>
