<div class="page-header">
  <h1 align="center">Show Article Details</h1>
</div>





<div class="container">
    <div class="row">
        <div class="col-md-4">Username</div>
        <div class="col-md-8"><%= @user.username %></div>
    </div>
    <div class="row">
        <div class="col-md-4">Email</div>
        <div class="col-md-8"><%= @user.email %></div>
    </div>
    
    <div class="row">
        <div class="col-md-4">
           <%= @user.tel %>
            <%= link_to "edit", edit_user_path(@user) %>
        </div>
        <div class="col-md-8"><%= link_to "delete",  user_path(@user), method: :delete, data: {confirm: "Are u sure?"}  %></div>
    </div>
    
    <button class="btn btn-default"><%=link_to "Index", users_path %> </button>
</div>