   
   <div class="container search">
    <h1 class="center">1er site d'annonces gratuites au Maroc</h1>
    <h3>Trouver la bonne affaire</h3>
     <%= search_form_for(@search, :html => {class: "form-inline col-md-offset-1", role: "form"}) do |f| %>
       <div class="form-group">
           <%= f.text_field :title_cont, class: "form-control", placeholder: "Que cherchez-vous?" %>
       </div>
       <div class="form-group">
           <%= f.collection_select(:category_id_eq, Category.all, :id, :name, {:prompt => "Toute les categories"}, {:class=>'form-control list'})%> 
       </div>
       <div class="form-group">
           <%= f.collection_select(:city_id, City.all, :id, :name, {:prompt => "Tout le Maroc"}, {:class=>'form-control list'})%> 
       </div>
       <div class="form-group">
          <%= button_tag(type: 'submit', class: "btn btn-default") do %>
         <span class="glyphicon glyphicon-search"></span>
        <% end %>
       </div>
       <br>
           <div class="form-group prix">
               <%= f.text_field :price_gteq, placeholder: "Prix Min", class: "form-control " %>
               <%= f.text_field :price_lteq, placeholder: "Prix max", class: "form-control "%>
           </div>
           <div class="form-group">
        
           </div>
        
        
    <% end %>
     
     
     
 </div>   
    